*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    ul.menu{
        display: flex;
        width: 40%;
        justify-content: space-between;
        list-style: none;

        li{
            transition: 0.2s;
            &:hover{
                transform: scale(1.2);
            }

            &:nth-child(4){
                a{
                    color: orange;
                }
            }
            a{
                text-decoration: none;
                color: black;

                &::before{
                    content: "";
                }

                &:hover{
                    color: blue;
                }
            }
        }
    }
}




// ul.menu li a{

// }
